
body{
  margin: 0.5%;
  padding: 0;
  /* box-sizing: border-box; */
  /* background-color: #f3bfb6; */
}

#nav h1{
  color: rgb(239, 245, 239);
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  word-spacing: 15px;
  text-shadow: 4px 4px black;
  margin-top: 25%;
}
span{
font-size: larger;
font-weight: 900;
font-display:unset;
font-family:monospace;
}
#nav p{
  color: rgb(27, 8, 12);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  word-spacing: 10px;
}

#nav{
  background-image: url(../images/pizza2.jpeg);
  background-position: center center;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.185);
  /* width: 100vw; */
  position: relative;
  border-radius: 20px;
}
.link a{
  display: inline-block;
}
h2{
  color: #D5672A;
}
dt{
  color:#F89E6E ;
}
.nav{
  background-color:#F89E6E;
}

#menu{
  text-align: center;
  background-image: url(../images/flower.jpeg);
  background-repeat: no-repeat;
  background-position:  center;
  padding: 40px;
  background-size:contain;
  font-weight: 600;
  height: 80vh;
  line-height: 15px;
  border-radius: 70px;
}
.delivery {
  display: none;
}
.top-header{
  background-color: #f86950;
  height: 100px;
}
.top-header h1{
  color: rgb(239, 245, 239);
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  word-spacing: 15px;
  text-shadow: 4px 4px black;
 
}
.link a{
  color:rgb(245, 244, 248);
  font-family: monospace;
  text-shadow: 1px 1px black;
  font-size: x-large;
  font-weight: 600;
}
h3{
  text-align: center;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}

label{
  color: black;
}
h4{
  text-align: center;
  font-weight: 600;
}
#order{
  margin-top: 20px;
}
h6{
  font-size: 20px;
  color: black;
}
#about-us p{
  margin: 0.8em 0;
  word-spacing: 2px;
  line-height: 20px;
  text-align: justtify;
  color: rgb(56, 56, 56);
  font-size: 16px;
  text-align: center;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
#about-us h2{
  color: rgb(9, 51, 51);
  text-align: center;
}
.contact{
  padding-top: 15px;
  background-color: #222222;
}
.col-md-3{
  text-align: center;
  padding: 2%;
}
.contact h2{
  font-size: 24px;
  color: #C83721;
}
.contact li{
  margin: 0.8em 0;
  word-spacing: 1px;
  line-height: 20px;
  text-align: justtify;
  color: white;
  font-size: 16px;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
  
}
.contact .num{
  color: maroon;
}
.contact p{
  margin: 0.8em 0;
  word-spacing: 2px;
  line-height: 20px;
  text-align: justtify;
  color: white;
  font-size: 16px;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
.fb{
  width:  30px;
  text-decoration: none;
}
.foot a{
  color: #C83721;
}
.foot{
  padding: 20px;
  text-align: center;
  word-spacing: 10px;
  letter-spacing: 3px;
  height: 70px;
  background-color: #2D2D2D;
}
.footer{
  text-align: center;
  font-style: italic;
  color: #807b79;
  height: 50px;
  background-color: #222222;
}